$pagebg-old: #f7f9ff;
$nav-text: #b8d1fd;
$text-color: #6686a7;
$borders: #d2dce5;
$accent-2: #ff4696;
$accent: #009fee;
$primary: #004fc0;
$primary-dark: #002980;
$white: #ffffff;
$black: #303030;
$red: #d01111;
