@font-face {
  font-family: "qfnavicons";
  src: url("../../qf-fonts/icomoon.eot?ot4xl1");
  src: url("../../qf-fonts/icomoon.eot?ot4xl1#iefix")
      format("embedded-opentype"),
    url("../../qf-fonts/icomoon.ttf?ot4xl1") format("truetype"),
    url("../../qf-fonts/icomoon.woff?ot4xl1") format("woff"),
    url("../../qf-fonts/icomoon.svg?ot4xl1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "qfnavicons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-admin:before {
  content: "\e900";
}
.icon-applications:before {
  content: "\e901";
}
.icon-cicd:before {
  content: "\e902";
}
.icon-dashboard:before {
  content: "\e903";
}
.icon-execute:before {
  content: "\e904";
}
.icon-projects:before {
  content: "\e905";
}
.icon-release:before {
  content: "\e906";
}
.icon-reports:before {
  content: "\e907";
}
.icon-testcases:before {
  content: "\e908";
}
.icon-testsets:before {
  content: "\e909";
}
